  
  .stickyMask{
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    mask-image: url('/51.svg');
    mask-position: 50% center;
    mask-repeat: no-repeat;
    mask-size: 50%;
  }
