
.stickynav {
  position: sticky;
  z-index: 9999;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.removesticky {
  position: unset;
}
@media (min-width: 768px) {
  .stickynavfull {
    @apply max-w-full border-none;
  }
}

@supports not (backdrop-filter: none) {
  .stickynavfull {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}


.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }   
