/* 静态文件导入 自定义样式   swiper  + my3d */

.mytext{
    position:absolute;
    Width:auto;
    Bottom:1px;
    padding:1px;
    color: rgb(255, 255, 255);
    font-weight:bold;
  }
.myh2{
    font-weight:100;
    font-size:25px;
    color: rgb(255, 255, 255);
  }
  
.my3d {

      transform-style: preserve-3d;
    }
.my3din {

      transform: translateZ(50px);
    }
.mypaopaoBG {
      width: 100%;
      max-width: 500px;
      height: 350px;
      background-color: blueviolet;
      border-radius: 50px;
    }
      
.mypaopao {
      width: 100%; /* width expands to fit bubble */
      height: 100%; /* width expands to fit bubble */
      border-radius: 50%; /* rounded border forms a circle */
      background-color: burlywood;
      display: flex;
      align-items: center;
      justify-content: center;
    }

