/* 静态文件导入 自定义样式   swiper  + my3d */


.my3d {transform-style: preserve-3d;}
.my3din500 {transform: translateZ(500px);  }    
.my3din {transform: translateZ(200px);  }    

.arrow::after {
      content: "";
      display: inline-block;
      margin-left: 0.28em;
      vertical-align: 0.09em;
      border-top: 0.42em solid;
      border-right: 0.32em solid transparent;
      border-left: 0.32em solid transparent;
    }    
.dropdown {
      position: absolute;
      right: -3px;
      left: auto;
      z-index: 9999;
      list-style: none;
      border-radius: 0.5rem;
      display: none;
    }
.dropdown.show {
      display: block;
    }
.myshape {
  position: relative;
  border-radius: 8px;
  margin-top: 0;
  display: inline-block;
  stroke-width: 1px;
  fill: transparent;
  stroke: #535251;
  stroke-dasharray: 20 385;
  stroke-dashoffset: 35;
  transition: 1s all ease;
  z-index: 5000000000;
}
.myshape:hover {
  stroke-dasharray: 50 0;
  stroke-width: 8px;
  stroke-dashoffset: 0;
  stroke: #06d61bfc;
}
.mymenutext {
  position: absolute;
  top:5px;
  left:12px;
  text-align: center;
}

.myrotatecard {
  background-image: linear-gradient(var(--myrotate), #a09fa5, #a67a7afa 43%, #5dac6d);
  animation: myspin 5s linear infinite;
}
@property --myrotate {  syntax: "<angle>";  initial-value: 132deg;  inherits: true;}
@keyframes myspin {  0% {    --myrotate: 0deg;  }  100% {    --myrotate: 360deg;  }}

.mypingcard {position: relative; border-radius: 16px;}

.mypingcard::after {
      background: linear-gradient(-25deg, #29dbbc, #655adc,#1eda63,#e440bb);
      background-size: 300%;
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0.9;
      border-radius: 16px;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {0% {background-position: 0% 50%;} 50% {background-position: 100% 50%;} 100% {background-position: 0% 50%;}}

.cai1 {  background: linear-gradient(to right, #358bff, #15c6ff);}
.cai2 {  background: linear-gradient(to right, #ff6655, #ffbf37);}
.cai3 {  background: linear-gradient(to right, #18e7ae, #1eebeb);}

.myiconlunbo {  animation: rowup 30s linear infinite;}
@keyframes rowup {  0% {transform: translateX(0%); } 50% { transform: translateX(-50%);}  100% {transform: translateX(-100%);  }}

.tanchukuang {
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tanchukuang:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.solarsys{

  margin: 0 auto;
  padding: 0;
  transform: scale(1);
}

/*太阳*/
.sun {
  left:357px;
  top:357px;
  height: 90px;
  width: 90px;
  background-color: rgb(248,107,35);
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(248,107,35), -5px -5px 10px rgb(248,107,35), 5px -5px 10px rgb(248,107,35), -5px 5px 10px rgb(248,107,35);
  position: absolute;
  margin: 0;
}

/*水星*/
.mercury {
  left:337.5px;
  top:395px;
  height: 10px;
  width: 10px;
  background-color: rgb(166,138,56);
  border-radius: 50%;
  position: absolute;
  transform-origin: 62.5px 5px;
  animation: rotate 1.5s infinite linear;
}



/*金星*/
.venus {
  left:309px;
  top:389px;
  height: 22px;
  width: 22px;
  background-color: rgb(246,157,97);
  border-radius: 50%;
  position: absolute;
  transform-origin: 91px 11px;
  animation: rotate 3.84s infinite linear;
}



/*地球*/
.earth {
  left:266.5px;
  top:391px;
  height: 18px;
  width: 18px;
  background-color: rgb(115,114,174);
  border-radius: 50%;
  position: absolute;
  transform-origin: 134px 9px;
  animation: rotate 6.25s infinite linear;
}



/*火星*/
.mars {
  left:222.5px;
  top:392.5px;
  height: 15px;
  width: 15px;
  background-color: rgb(140,119,63);
  border-radius: 50%;
  position: absolute;
  transform-origin: 177.5px 7.5px;
  animation: rotate 11.75s infinite linear;
}



/*木星*/
.jupiter {
  left:134px;
  top:379px;
  height: 42px;
  width: 42px;
  background-color: rgb(156,164,143);
  border-radius: 50%;
  position: absolute;
  transform-origin: 266px 21px;
  animation: rotate 74.04s infinite linear;
}


/*土星*/
.saturn {
  left:92px;
  top:387px;
  height: 26px;
  width: 26px;
  background-color: rgb(215,171,68);
  border-radius: 50%;
  position: absolute;
  transform-origin: 308px 13px;
  animation: rotate 183.92s infinite linear;
}



/*天王星*/
.uranus {
  left:41.5px;
  top:386.5px;
  height: 27px;
  width: 27px;
  background-color: rgb(164,192,206);
  border-radius: 50%;
  position: absolute;
  transform-origin: 358.5px 13.5px;
  animation: rotate 524.46s infinite linear;
}



/*海王星*/
.neptune {
  left:10px;
  top:390px;
  height: 20px;
  width: 20px;
  background-color: rgb(133,136,180);
  border-radius: 50%;
  position: absolute;
  transform-origin: 390px 10px;
  animation: rotate 1028.76s infinite linear;
}



@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}