/* 静态文件导入 自定义样式   swiper  + my3d */

.mytext{
    position:absolute;
    Width:auto;
    Bottom:1px;
    padding:1px;
    color: rgb(255, 255, 255);
    font-weight:bold;
  }
.myh2{
    font-weight:100;
    font-size:25px;
    color: rgb(255, 255, 255);
  }
  
.my3d {

      transform-style: preserve-3d;
    }
.my3din {

      transform: translateZ(50px);
    }
    
    
    .arrow::after {
      content: "";
      display: inline-block;
      margin-left: 0.28em;
      vertical-align: 0.09em;
      border-top: 0.42em solid;
      border-right: 0.32em solid transparent;
      border-left: 0.32em solid transparent;
    }
    
    .dropdown {
      position: absolute;
      right: 3px;
      left: auto;
      z-index: 9999;
      list-style: none;
      border-radius: 0.5rem;
      display: none;
    }
    
    .dropdown.show {
      display: block;
    }

    
.myshape {
  position: relative;
  margin-top: 0;
  /*make sure to use same height/width as in the html*/
  width: 100%;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  stroke-width: 6px;
  fill: transparent;
  stroke: #938e97;
  stroke-dasharray: 20 385;
  stroke-dashoffset: 35;
  transition: 1s all ease;
}


.mysvgtext {
  position: absolute;
  top:182px;
  margin-top: -150px;
  margin-left: 35px;
  text-align: center;
}



.myshape:hover {
  stroke-dasharray: 50 0;
  stroke-width: 8px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}


    
